<h1>{{task.name}}</h1>
<p>{{task.description}}</p>
<p>{{task.created_at}}</p>
<p>{{task.importance}}</p>
{% if task.completed %}
    <p>completed</p>
{% else %}
    <p>not completed</p>
{% endif %}

<form action="/tasks/complete/{{task.id}}" method="POST">
    {% csrf_token %}
    <button>
        {% if task.completed %}
            mark as not completed
        {% else %}
            mark as completed
        {% endif %}
    </button>
</form>
<form action="/tasks/delete/{{task.id}}" method="POST">
    {% csrf_token %}
    <button>
        delete
    </button>
</form>
<a href="/tasks/update/{{task.id}}">
    <button>
        update
    </button>
</a>
<a href="/tasks/">
    <button>
        volver
    </button>
</a>
